body {
  background-color: #fff;
  overflow-x: hidden; }

.slideshow {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative; }
  .slideshow .slideshow-slides {
    height: 100%;
    width: 100%;
    position: absolute; }
    .slideshow .slideshow-slides .slide {
      overflow: hidden;
      position: absolute;
      width: 100%; }
    .slideshow .slideshow-slides img {
      position: absolute; }
  .slideshow .slideshow-nav a,
  .slideshow .slideshow-indicator a {
    overflow: hidden; }
  .slideshow .slideshow-nav a:before,
  .slideshow .slideshow-indicator a:before {
    content: url("../asset/image/sprites.png");
    display: inline-block;
    font-size: 0;
    line-height: 0; }
  .slideshow .slideshow-nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px; }
    .slideshow .slideshow-nav a.prev {
      margin-left: -480px; }
      .slideshow .slideshow-nav a.prev::before {
        margin-top: -20px; }
    .slideshow .slideshow-nav a.next {
      margin-left: 400px; }
      .slideshow .slideshow-nav a.next::before {
        margin-left: -80px;
        margin-top: -20px; }
    .slideshow .slideshow-nav a.disabled {
      display: none; }
  .slideshow .slideshow-indicator {
    bottom: 100px;
    height: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center; }
    .slideshow .slideshow-indicator a {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 3px; }
      .slideshow .slideshow-indicator a::before {
        margin-left: -110px; }
      .slideshow .slideshow-indicator a.active {
        cursor: default; }
        .slideshow .slideshow-indicator a.active::before {
          margin-left: -130px; }

#main {
  min-height: 200px;
  display: flex;
  flex-flow: row;
  margin: 20px; }
  #main > article {
    margin: 20px 0;
    padding: 5px;
    flex: 100%;
    text-align: center; }
    #main > article .feature-icon > span {
      font-size: 50px; }

#menu_div {
  display: none; }

#work {
  margin: 20px; }
  #work > div:first-child {
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e5d0; }
  #work .content {
    display: flex;
    flex-direction: row;
    background-color: #e7e5d0; }
    #work .content > article {
      margin: 20px;
      text-align: center; }
      #work .content > article img {
        max-width: 100%; }
        #work .content > article img:hover {
          background-color: #fff;
          opacity: .5;
          transition: all 0.5s ease; }

header .header-warp {
  display: flex;
  justify-content: space-around; }
  header .header-warp .navbar ul {
    display: inline-flex;
    padding-top: 30px; }
    header .header-warp .navbar ul li {
      padding-right: 20px; }
      header .header-warp .navbar ul li a {
        color: #877F6C;
        text-decoration: none; }
        header .header-warp .navbar ul li a:hover {
          color: #BDC0BA;
          transition: .3s ease; }

.bottom_menu {
  display: none;
  z-index: 10;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 2em;
  font-size: 24px;
  transition: linear; }
  .bottom_menu .menu-icon {
    position: absolute;
    z-index: 12;
    top: -20px;
    right: 10px;
    font-size: 30px; }
    .bottom_menu .menu-icon span {
      color: gray; }
  .bottom_menu ul {
    text-align: center; }

#footer-wrap {
  color: #fff;
  background: #222; }
  #footer-wrap #footer {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    padding: 20px; }
    #footer-wrap #footer > article {
      flex: 100%;
      margin: 10px;
      line-height: 2.5em; }
      #footer-wrap #footer > article > ul li {
        border-bottom: 1px solid #fff; }
  #footer-wrap footer {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    min-height: 100px;
    justify-content: center; }

@media all and (max-width: 640px) {
  #main, #work, #footer-wrap #footer {
    flex-direction: column; }
  nav, #main > aside, header, footer {
    min-height: 100px;
    max-height: 450px; }
  nav img {
    height: 100%;
    transition: all 0.5s ease; } }

@media screen and (max-width: 480px) {
  .navbar {
    display: none; }
  .header-warp {
    padding: 20px; }
  #menu_div {
    display: block;
    text-align: right;
    width: 100%;
    padding: 15px 20px; }
    #menu_div i {
      padding-right: 10px; }
  #work .content {
    display: inline-block; } }
