body {
  background-color: #fff;
  overflow-x: hidden;
}

nav {
  img {
    max-width:100%;
  }
}

#main {
  min-height: 200px;
  display: flex;
  flex-flow: row;
  margin: 20px;
  & > article {
    margin: 20px 0;
    padding: 5px;
    flex: 100%;
    text-align: center;

    .feature-icon {
      & > span {
        font-size: 50px;
      }
    }
  }
}

#work {
  margin: 20px;
  & > div:first-child {
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e5d0;
  }
  .content {
    display: flex;
    flex-direction: row;
    background-color: #e7e5d0;
    & > article  {
      margin: 20px;
      text-align: center;

      img {
        max-width: 100%;

        &:hover {
          background-color: #fff;
          opacity: .5;
          transition: .3s;
        }
      }
    }
  }
}

header {
  min-height: 80px;
  .logo {
    float: left;

    & > img {
      width: 50px;
    }
  }
  .navbar {
    float: right;

    & > ul li{
      display: inline-flex;
      padding: 10px;
    }
  }
}

#footer-wrap {
  color: #fff;
  background: #222;

  #footer {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    padding: 20px;

    & > article {
      flex: 100%;
      margin: 10px;
      line-height: 2.5em;

      & > ul li {
        border-bottom: 1px solid #fff;
      }
    }
  }

  footer {
    color: #fff;
    background: #000;
    display: block;
    min-height: 100px;
    text-align: center;
  }
}



@media all and (max-width: 640px) {
  #main, #work, #footer-wrap #footer{
    flex-direction: column;
  }

  nav, #main > aside, header, footer {
    min-height: 100px;
    max-height: 450px;
  }
}
